{% extends 'base.html' %} <!--base.html 상속-->

{% load static %}

<!--head 블록 부분-->
{% block head %} 
<link rel="stylesheet" href="{% static 'css/test.css' %}">
<link rel="stylesheet" href="{% static 'css/test2.css' %}">
<title>Home</title>
{% endblock %} 

<!--content 블록 부분-->
{% block content %}

    <h1 style="margin-left:10px;font-weight:800;">❤️블로그 프로젝트💖</h1>
    <a href="{% url 'new' %}" style="text-decoration:none">✏️새로운 글 만들기</a>

    <br>
    {% if user.is_authenticated %} 
        이름 : {{user.username}} 닉네임 : {{user.nickname}} 대학 : {{user.university}} 위치 : {{user.location}}
    {% endif %}

{% for blog in blogs.all %}
<div style="margin:10px; padding:5px; border:3px solid; border-color: rgb(234, 58, 128); border-radius:10px; background-color:#e7e1e7; ">
<h3>{{blog.title}}</h3>
{{blog.date}}
<br>
{{blog.summary}}
<a href="{% url 'detail' blog.id%}">...more</a>
</div>
{% endfor %}
{% endblock %}
</body>
</html>
